#about {
    background-color: var(--fondoAzulGris);
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.elementos_about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 3rem;
}

.info_about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


#title_about h2{
    text-align: left;
}
#title_about .subrayado_gradiente_violeta {
    width: 8.5rem;   
}

.desc_about {
    line-height: 1.4;
}

.desc_about p {
    width: 100%;
    max-width: 600px;
}

.skills_about {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}



.image_about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_about img {
    width: 100%;
    height: auto;
    max-width: 24rem;
    border-radius: 0.5rem;
}
@media (max-width: 1220px) {
    .elementos_about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .image_about {
        order: -1; 
    }

    .desc_about p,
    .skills_about {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .title_about h2 {
        font-size: 1.5rem;
    }

    .skill_about {
        font-size: 9px;
        padding: 4px 10px;
    }

    .desc_about p {
        font-size: 14px;
    }

    .elementos_about {
        gap: 2rem;
    }
}
