#exp{
    padding-top: 4rem;
}

.elementos_exp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timeline {
  position: relative;
  margin: 40px auto;
  padding: 20px 0;
  width: 90%;
  max-width: 1200px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #814bff;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 20px;
  width: 12px;
  height: 12px;
  background-color: #a478ff;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1;
}

.timeline-item.left::before {
  right: -8px;
}

.timeline-item.right::before {
  left: -8px;
}

.timeline-item .content {
  color: white;
  padding: 20px;
}

.timeline-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.timeline-item h4 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 500;
}

.timeline-item h4 a {
  color: #9a8cff;
  text-decoration: none;
}

.timeline-item .date {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
  .timeline::before {
    left: 8px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
  }

  .timeline-item.left,
  .timeline-item.right {
    left: 0;
    text-align: left;
  }
  .timeline-item.right::before{
   left: 0; 

  }
  .timeline-item::before {
    left: 0;   
  }
}
